.add-message-block {
    display: block;
    width: 96%;
    margin: 0 0;
    padding: 10px;
    text-align: center;
    z-index: 10;
}

.input {
    display: inline-block;
    width: 25%;
    margin: 0 4px;
    border-radius: 1.25rem;
}

.add-btn {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 10px;
}

.add-btn:hover {
    cursor: pointer;
}