.message-block {
    display: block;
    margin: 8px auto;
    width: 70%;
    background: #fff;
    border: none;
    border-radius: 10px;
    padding: 4px 0;
    min-height: 50px;
    position: relative;
}

.message {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 6px 10px 0;
    border-radius: 5px;
    text-transform: capitalize;
}

.author {
    display: inline-block;
    text-align: left;
    color: #3a6d99;
    margin: 10px 0 0 18px;
}

.message-block::after {
    content: '';
    width: 22px;
    height: 20px;
    background: #fff;
    border-radius: 0 0 0 20px;
    position: absolute;
    top: 0;
    left: -10px;
}

.date-time {
    display: block;
    margin: 0 35px 0 0;
    text-align: right;
    color: cadetblue
}